@font-face {
    font-family: 'Jersey10';
    src: url('./assets/fonts/Jersey_10/Jersey10-Regular.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "Jersey10", sans-serif;
    transition: all 0.2s ease-in-out;
}